.section.category {
    margin-top: 5em;

    .category-title {
        text-align: center;
        color: var(--text-color);
        font-size: 2.5em;
        width: 100%;
    }

    .category-title-snap {
        color: var(--primary-color);
    }

    .category-title-sec {
        text-align: center;
        width: 100%;
    }

    .category-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
        width: 100%;
        margin-top: 2em;

        .card {
            width: 200px;
        }
    }
}