@import "partials/navbar.scss";
@import "partials/animations.scss";

:root {
    --primary-color: #eb0aa0;
    --background-color: #ffffff;
    --background-light: #ffffff;
    --shadow-color: #f3f3f3;
    --text-color: #070707;
    --text-light: #333232;
    --font-size: 16px;
    --animation-speed: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.btn {
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 6px var(--shadow-color);
    outline: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 0.8em 1em;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.container {
    padding-inline: 20vw;
}

.main {
    padding-block: 5vw;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .col {
        width: 50%;
    }

    .title {
        color: var(--text-color);
        font-size: 3em;
        line-height: 1;
    }

    .info {
        color: var(--text-light);
        font-size: 1em;
        line-height: 1.5;
        margin: 1.25em 0 1.25em 0;
    }
}

.section.hero {
    .typography {
        padding-right: 1em;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.75vw;

        .custom-image {
            transform: scale(0);
            opacity: 0;
            animation: getAnimationaDuration(0.5s) popOut forwards;

            &:nth-child(2) {
                animation-delay: 0.1s;
            }

            &:nth-child(3) {
                animation-delay: 0.3s;
            }

            &:nth-child(4) {
                animation-delay: 0.2s;
            }
        }
    }
}

.custom-image {
    height: 0;
    width: 100%;
    padding-top: 100%;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }

}

@media screen and (max-width:1280px) {
    .container {
        padding-inline: 18vw;
    }
}

@media screen and (max-width:1050px) {
    .container {
        padding-inline: 12vw;
    }
}

@media screen and (max-width:768px) {
    .container {
        padding-inline: 6vw;
    }

    .navbar {
        .nav-links {
            display: none;
        }

        .sidebar-btn {
            display: block;
        }
    }

    .section {
        .col {
            width: 100%;
            text-align: center;
            margin-bottom: 2em;
        }
    }
}

@media screen and (max-width:480px) {
    .container {
        padding-inline: 3vw;
    }
}